/*
font-family: 'JetBrains Mono', monospace;
font-family: 'Open Sans', sans-serif;
*/

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: #2C2B3D;
  color: #FFF;
  margin-left: 100px;
  margin-right: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  margin: 71px auto 100px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 64px;
}

ul li:hover {
  font-weight: bold;
  opacity: 1;
  cursor: pointer;
}

main {
  text-align: center;
  display: flex;
  margin-bottom: 150px;
}

h1 {
  margin-bottom: 59px;
}

h1 span {
  color: #00BFA6;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #C2C2C2;
  font-size: 16px;
  line-height: 28px;
}

main p span {
  color: #00BFA6;
}

.text {
  width: 600px;
  margin-left: 82px;
}

footer {
  text-align: center;

}

footer p {
  font-family: 'JetBrains Mono', monospace;
}

a {
  text-decoration: none;
  color: #C2C2C2;
}

#line {
  width: 568px;
  height: 0px;
  margin: auto;
  border: 1px solid #00BFA6;

}

#padlock {
  position: fixed;
  bottom: 20px;
  left: 20px;
}